# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\nexus-fxcentral\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
